<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% Block title %}Главная {Endblock} :: BB</title>
    <link rel = "stylesheet" href="{}">
</head>
<body>
    <h1>Объявления</h1>
    <div>
        <a href="% url 'index' %">Главная</a>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
        <a href="{% url 'index' %}">Добавить</a>
    </div>
    {% for bb in bbs%}
    <div>
        <h2>{{ bb.title}}</h2>
        <p>{{bb.content}}</p>

        <p>
            <a href="{% url 'by_rubric' bb.rubric.pk %}">{{rubric.name }}</a>
        </p>

        <p>{{bb.published|date:"d.m.Y.H:i:s" }}</p>
    </div>
    {% endfor %}

<section>
    {% block

</section>


</body>
</html>